
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <style>
            {#asset reportClient-styles.css @encoding=utf8}
        </style> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
       
    </head>
    <body>
       <div class="user-report">
          <div class="columns">
            <div class="column is-2">
                <img class="image"src="{#asset LogoTmo.png @encoding=dataURI}" alt="tcno"  style="width:200%; max-width:300px;" />
            </div>
            <div class="column info is-8">
                <p class="block1"><b>TECNO MONTAJES</b></p>
                <p class="block"><b>INFORME DE CLIENTES</b></p>
            </div>
            <div class="column info is-2"></div>
           </div>
        </div>
        <div class="container">
        <p class="fecha subtitle is-5"><span class="dia">al dia:
            </span>{{date}}</p>
       </div>
        <table class="table is-bordered is-striped is-narrow is-hoverable">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nombre</th>
                    <th>nombre corto</th>
                    <th>Rfc</th>
                    <th>clasificacion</th>
                    <th>direccion fiscal</th>
                    <th>status</th>
                </tr>
            </thead>
           
            <tbody>
                 {{#each clients}}
                  <tr >
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td class="data">{{short_name}}</td>
                    <td class="data">{{rfc}}</td>
                    <td class="data">{{classification}}</td>
                    <td class="data">
                        {{address_street}} {{address_outdoor_number}} 
                        {{address_colonia}}  {{address_city}}  {{address_state}} {{address_country}}
                        </td>
                    <td class="data"><div class="verde"></div></td>
                </tr>
                {{/each}}
                
            </tbody>
            
        </table>
    </body>
</html>